parlelforeach/src/main/mule/parlelforeach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="91f12227-cb78-4b84-a2c2-631d9a3bf77c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="parlelforeachFlow" doc:id="2feedcca-9afa-4944-ad17-036b30101b40" >
		<http:listener doc:name="Listener" doc:id="1778ffff-d7ff-4996-9d44-069b323080a7" config-ref="HTTP_Listener_config" path="parlelforeach"/>
		<ee:transform doc:name="Transform Message" doc:id="81550dff-e3cc-41bb-a943-7b1e746934dd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 100 map
{
  id: 200 + $$,
  name: "hema",
  number: 8367756645,
  lname: "latha"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<parallel-foreach doc:name="Parallel For Each" doc:id="62a593e4-ffd4-4300-b4ac-dce95ceb131a" >
			<logger level="INFO" doc:name="Logger" doc:id="02489c05-2816-4dd6-be9e-64dd2b423be8" message="#[payload]"/>
			<logger level="INFO" doc:name="Logger" doc:id="02489c05-2816-4dd6-be9e-64dd2b423be8" message="HI"/>
		</parallel-foreach>
		<logger level="INFO" doc:name="Logger" doc:id="bbfff3d8-5601-449a-8d72-1c2b1074c32e" message="Hello"/>
	</flow>
</mule>
