foreach/src/main/mule/foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="61e303be-9ef4-4039-bcd4-b3c7aacbf1ba" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="foreachFlow" doc:id="e97f3dda-2ca2-45c7-bfd4-e4fa42be1b77" >
		<http:listener doc:name="Listener" doc:id="2b9c5929-f64c-4774-a6a4-badb61541f4e" config-ref="HTTP_Listener_config" path="foreach"/>
		<ee:transform doc:name="Transform Message" doc:id="596d5fdf-dc55-487f-85bb-b335909cb931" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 100 map
{
  id: 200 + $$,
  name: "hema",
  number: 8367756645,
  lname: "latha"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="a78beb2c-834e-46b6-a98d-1984ccaaa85d" >
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="fe4fb01a-5d35-4ded-ba92-2b51b9bef553" message="#[payload]" />
		<logger level="INFO" doc:name="Logger" doc:id="fe4fb01a-5d35-4ded-ba92-2b51b9bef553" message="hloo" />
		<logger level="INFO" doc:name="Logger" doc:id="fe4fb01a-5d35-4ded-ba92-2b51b9bef553" message="hloo123" />
		
	</flow>
</mule>
